.lot{
    display:flex;
    flex-direction:column;
    
}
table{
    width:400px;
    border:1px solid grey;
    background:#a4c47c;
    margin:auto;
}
.nechet{
  background:#f2f1ed;  
}
.chet{
  background:#dce8b7;
}
td,th{
    padding:2px;
    text-align: center;
}
.ro{
   font-weight:normal;
   text-align:left;
   padding-left: 10px; 
}
.header{
    background:#9ca880;
    border:1px solid grey;
    font-size: 45px;
    height:70px;
    padding-left: 700px;
    margin-bottom:15px;
}
.nav{
    background:#f2f1ed;
    text-align: center;
    width:960px;
    margin:auto;
}
.footer{
   background:#96a381;
    border:1px solid grey;
    font-size: 20px;
    height:80px; 
}
.div{
    margin-bottom:15px;
    padding:15px;
}
.logo{
    float:left;
    margin-right: 25px;
}
.cat{
    background:#f2f1ed;
    border:1px solid grey;
    height: 50px;
    text-align: center;
    margin: auto;
    width: 100%;
}
@media screen and (max-width:600px)
{
    .header{
        padding-left:0px;
        font-size: 35px;
    }  
    .name{
        padding-top: 15px;
    }
    .cat {
        height: 50px;
        text-align:left;
}
    .nav {
       display:flex;
        width: auto;
        flex-direction: column;
        text-align: left;
}
    .div{
        padding: 0px;
    }  
    .ris{
        width: 380px;
        height: auto;
    }
    table {
        margin: 0;
}
    .table{
        order: 2;
    }
    .form{
        order: 1;
    }
}
